*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0;
}

.tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.tab {
  text-align: center;
  padding: 20px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.content {
  width: 100%;
  display: none;
  padding: 20px;
}

#tab-1:checked ~ .tab-1 {
  background-color: #8fda9f;
}

#tab-1:checked ~ .content-1 {
  display: block;
  background-color: #8fda9f;
}

#tab-2:checked ~ .tab-2 {
  background-color: #c18dd1;
}

#tab-2:checked ~ .content-2 {
  display: block;
  background-color: #c18dd1;
}
